body {
  background: #f9f9f9;
}

@font-face {
  font-family: 'CuteDino';
  src: url('/static:fonts/CuteDino2/cute_dino.ttf') format('truetype');
}

.LogoText {
    font-family: 'CuteDino' !important;
    color: #007ec2;
    text-shadow: 1px 3px 0px #bfcdff;
}